# This is an ~example~ .htaccess file.
# You may need to do something different to get Apache to run PHP on your
# scripts, e.g. "SetHandler application/x-httpd-php"
<FilesMatch "^(browse|raw|N2R)$">
	SetHandler php5-cgi-script
</FilesMatch>
